@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap');
body{
	background-image: url(img/fundo.jpg);
	/*background-color: #dddddd;*/
	color: rgba(0,0,0,1); /* nivel de sombreamento */
}
div#interface {
	width: 1000px;
	background-color: #ffffff;
	margin: -10px auto 0px auto; 
	box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	padding: 10px;
	border-radius: 5px;
}

header#cabecalho img#logo {
	position: relative;
	float: right;
	top: -42px; /*verificar como faz para deixar a imagem se adequar ao zoom*/
}

header#cabecalho{
	border-bottom: 1px #60606060 solid; /*parte de baixo do cabecalho*/
	height: 100px;
	/*background: url(") no-repeat; Para colcoar a imagem do logo*/
	padding: 18px;
}

header#cabecalho h1 {
	/*font-family: 'Yellowtail', cursive;*/
	font-family: 'Bubblegum Sans', cursive;
	font-size: 30pt;
	color:  #000000;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	margin-bottom: 0px;
	margin-top: 35px;

}

header#cabecalho h2 {
	font-family: Arial, sans-serif;
	color: #606060;
	font-size: 15pt;
	margin-top: 0px;
}

header#cabecalho .pedido {
	display: block;
	margin-top: -80px;
	margin-left: 380px;
	width: 300px;
	height: 50px;
	border-radius: 20px;
	background-color: #000000;
}
header#cabecalho .pedido h3{
	font-family: Arial, sans-serif;
	font-size: 17pt;
	text-align: center;
	padding-top: 10px;
	padding: 11.5px;
	color: #FFFFFF;
	letter-spacing: -1px;
}

header#cabecalho h3:hover {
	background-color: #fff;
	border: 1px solid #000000;
	border-radius: 20px;
	color: #363636;
}

.pedido a {
	text-decoration: none;
	color: #ffffff;
}
.pedido a:hover {
	color: #000000;
}

img.pedidoRede {
	display: none;
	position: relative;
	top: -59px;
	left: 320px;


}
figure.logo figcaption {
	opacity: 0; /*transparencia da legenda*/
}


p {
	text-align: justify;
	text-indent: 50px;
	
}

footer#rodape a {
	color: #808080;
	text-decoration: none;
}

footer#rodape a:hover {
	text-decoration: underline;
}

figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	width: 200px;
	box-shadow: 1px 1px 4px black;
	display: inline-block;
}

/* Esse deixa o CSS para se adaptar com o zoom */
figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-color: rgba(0,0,0,.4);
	color: white;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s; /* tempo para aparecer a legenda*/
}

figure.foto-legenda:hover figcaption { /*o hover faz com que você só visualize passando o mouse*/
	opacity: 1;
}

/* Formatação do Menu */

nav#menu {
	display: block; /* cria um bloco para que ele possa flutuar para cima */
}

nav#menu ul { /* usasse # quando for id*/
	list-style: none; /* retira os marcadores (bolinha antes do UL ou numero do OL)*/
	text-transform: uppercase; /* Deixa a letra em caixa alta*/
	position: absolute; /* serve apra passar por cima de outros documentos*/
	top: -10px; /* Aproximação da aprte superior */
	margin-left: auto;
	margin-right: auto;
}

nav#menu li {
	display: inline-block; /* deixa um ao lado do outro */
	border-radius: 10px 20px;
	background-color: #dddddd;
	padding: 10px; /* refere-se a parte interna do background*/
	margin: 2px; /* refere-se a parte externa do background */
	transition: background-color 1s; /* ATENÇÃAAO não oficional em todos os navegadores*/
	-webkit-transition: background-color 1s;
	-o-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;

}

nav#menu li:hover { /* faz com que ao passar o mouse troque de cor*/
	background-color: #606060; 
}

nav#menu h1 {
	display: none; /* Assim não aparece o nome Menu Principal */ 
}

nav#menu a { /* faz com que a ancora "a" do href deixa a letra preta*/
	color: #000000;
	text-decoration: none; /*tira o sublinhado*/	
}

nav#menu a:hover {
	color: #ffffff; /* deixa a cor da letra branca ao passar com o mouse*/
}

section#corpo {
	display: block;
	width: 598px;
	float: left;
	border-right: 1px #60606060 solid;
	padding-right: 30px;
}

article#informacao-inicial h2 {
	font-size: 18pt;
	color: 000000;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
	border-radius: 10px 20px;
	font-family: 'Bubblegum Sans', cursive;
}

table#tabela-horario {
	border: 0.5px #606060 solid;
	border-spacing: 0px; /* esse comando tira o espaço da td para a tabela pai*/
	margin-left: auto;
	margin-right: auto;
	border-radius: 11px; /*ver com a professora como fazer para arredondar só as pontas*/
}

table#tabela-horario td {
	border-spacing: 0px;
	border: 0.5px #606060 solid;
	padding: 10px;
}

table#tabela-horario td.superioresq {
	border-radius: 10px 0 0 0;
}

table#tabela-horario td.superiordir {
	border-radius: 0 10px 0 0;
}

table#tabela-horario td.inferioresq {
	border-radius: 0 0 0 10px;
}

table#tabela-horario td.inferiordir {
	border-radius: 0 0 10px 0;
}
aside#lateralCima {
	display: block;
	background-color: #363636;
	margin-top: -35px;
	padding: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	width: 350px;
	float: right;
}

aside#lateralCima h1 {
	font-family: 'Bubblegum Sans', cursive;
	border-radius: 10px 20px;
	background-color: #696969;
	font-size: 18pt;
	color: #ffffff;
	padding: 5px; 
	margin-top: 10px;
}

aside#lateralCima h2 {
	font-size: 13pt;
	color: #C0C0C0;
}

aside#lateralBaixo {
	display: block;
	float: left;
	margin: 100px 120px 100px 120px; 

}
img.pizzaRoda {
	bottom: 0;
	animation: roda 5s linear infinite;
	width: 120px;
	height: 120px;
}
@keyframes roda {
	0%{
		transform: rotate(0deg);
	}
	20%{
		transform: rotate(72deg);
	}
	40%{
		transform: rotate(144deg);
	}
	60%{
		transform: rotate(216deg);
	}
	80%{
		transform: rotate(288deg);
	}
	100%{	
		transform: rotate(360deg);	
	}
}

footer#rodape {
	clear: both;
	border-top: 1px #60606060 solid;
}

footer#rodape p {
	color: #60606060;
	text-align: center;
}

footer#rodape a {
	text-decoration: none;
	color: #60606060;
}

footer#rodape a:hover {
	color: #606060; 
}
			/*background-image: url(img/fundo.jpg);  usado para colocar a imagem de fundo*/

