<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../styles/estilo-pi.css">
		<link rel = "shortcut icon" type = "imagem/x-icon" href = "../../assets/pizza_1.ico"/>
		<title>Wow Pizzas</title>
	</head>
	<body>
		<div id="interface"> <!-- Essa div posiciona relativa, vai ser um conteiner-->
		
		<header id="cabecalho">
			<hgroup>
				<img id="logo" src="../../assets/logo-sem-fundo.jpeg" alt="logo pizzaria">
			<h1>WOW Pizzas</h1>
			<h2>A melhor para os melhores</h2>
			</hgroup>
		</header>
	<nav id="menu">
			<h1>Menu Principal</h1>
			<ul type="disc">
				<li><a href="../../index.html" target="self">Home</a></li>
				<li><a href="cardapio.html" target="self">Cardápio</a></li>
				<!--<ul type="square">
					<li>Pizzas</li>
					<li>Esfirras</li>
					<li>Bebidas</li>
				</ul> -->
				<li><a href="localizacao.html"target="self">Localização</a></li>
				<li><a href="fale-conosco.html"target="self">Fale Conosco</a></li>
			</ul>
		</nav>
	</body>