<!DOCTYPE HTML>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../styles/estilo-pi.css">
			<link rel = "shortcut icon" type = "imagem/x-icon" href = "../../assets/iconepizza.ico"/>
			<title>Wow Pizzas</title>
		</head>
		<body>
		<div id="interface">
				
			<header id="cabecalho">
				<hgroup>
				<figure class="logo">
					<img src="../../assets/logo-sem-fundo.jpeg">
				<figcaption>
					logo
				</figcaption>
				</figure>
				<h1>Wow Pizzas</h1>
				<h2>A melhor para os melhores</h2>
				</hgroup>

				
					<h2>Seja Bem-vindo(a), qualidade e preço justo</h2>
					<br>
					<p>Chegou seu novo <i><a href="https://translate.google.com.br/#view=home&op=translate&sl=auto&tl=pt&text=point" target="_blank">point</a></i> tanto para os dias  cansativos de trabalho quanto para os finais de semana antes do rolê (Ah, se está desempregado aqui também é seu lugar, temos pizzas precinho). <b>Wow Pizzas</b>, trazendo uma novidade para o seu bairro com as nossas diversidades de pizzas e sabores, venha conferir.</p>

			<nav id="menu">
				<h1>Menu Principal</h1>
				<ul type="disc">
					<li><a href="../index.html" target="self">Home</a></li>
					<li><a href="cardapio.html" target="self">Cardápio</a></li>
					<li><a href="localizacao.html"target="self">Localização</a></li>
					<li><a href="fale-conosco.html"target="self">Fale Conosco</a></li>
				</ul>
			</nav>
			</header>

			<figure class="foto-legenda">
				<img src="../../assets/pizza-0.jpeg">
			<figcaption>
				<h3>Frango com Catupiry</h3>
			</figcaption>
			</figure>



			<!--<figure>
			<img src="assets/fundo.jpeg">
			<figcaption>figcaption faz a legenda da imagem
				<h3>A pizza que você vai se surpreender</h3>
			</figcaption>-->

		

			<figure class="foto-legenda">
				<img src="assets/pizza-01.jpeg">	<!--lembrar depois de alterar o tamannho das imagens-->
				<figcaption>
					<h3>A Moda do Chefe</h3>
				</figcaption>
			</figure>


			<figure class="foto-legenda">
				<img src="assets/pizza-02.jpeg">	
				<figcaption>
					<h3>Oreo Cremoso</h3>
				</figcaption>
			</figure>

			<figure class="foto-legenda">
				<img src="assets/pizza-03.jpeg">	
				<figcaption>
					<h3>Sensação</h3>
				</figcaption>
			</figure>

		</div>
		</body>
	</html>
	
					<!--<ul type="square">
						<li>Pizzas</li>
						<li>Esfirras</li>
						<li>Bebidas</li>
					</ul> -->
					